<h1>todoApp</h1>

<%= link_to 'Add', new_task_path %>
<div class="contents">
	<table>
		<tr>
			<th>todo task</th>
			<th>deadline</th>
			<th>finish?</th>
			<th>comment</th>
		</tr>
		<% @task.each do |task| %>
		<tr>
			<td><%= task.content %></td>
			<td><%= task.deadline %></td>
			<td><%= task.done %></td>
			<td><%= task.comment %></td>
		</tr>
		<% end %>
	</table>
	
</div>